@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Say HELLO to Console App!</h2>
        <form asp-action="Index">
            <div class="form-group">
                <input class="form-control" type="text" name="AuthorName"/>
            </div>

            <div class="form-group">
                <textarea class="form-control" name="Body"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-default" type="submit">Sent</button>
            </div>
        </form>
    </div>
</div>
